*{
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: 3s;
}
body{
    font-family: 'Poppins',sans-serif;
    height: 100vh;
    width: 100%;
    background: radial-gradient(#F9d349,20%,#d57e12);
}
header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding:  10px 110px;
    
}
header h1{
    color: aliceblue;
    font-weight: normal;
    
}
@keyframes a {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(
            1.1
        );

    }
    80%{
        transform: scale(
            1.3
        );
    }
    100%{
        transform: scale(1);
    }
}
header ul {
    list-style: none;
    display: flex;
}
header ul li{
    color: white ;
    padding-left: 30px;
    padding-top: 10px;
}
header ul li a{
    text-decoration: none;
    color: aliceblue;
   border-bottom: 2px solid transparent;
}
header ul li .active{
    border-bottom: 2px solid #fff;
}
header ul li a:hover{
    border-bottom: 2px solid #fff;
    transition: 2s;
}
@media (max-width:800px) {
    header{
        flex-direction: column;
        align-items: center;
    }
    header h1{
        text-align: center;
    }
    header ul {
        margin-left: -60px;
    }
    
}
.h1{
    font-family: 'Permanent Marker', cursive;
    font-weight: 800;
}
section{
    padding:  10px 110px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
section .one{
    color: #fff;
    font-size: 15px;
    margin-top: 100px;
}
section .two{
    color: #fff;
    font-size: 15px;
    margin-top: 50px;
}
section h1{
    color: #fff;
    font-size: 60px;
}
section .con .p{
    color: #fff;
    width: 400px;
    margin-top: 40px;
    margin-bottom: 20px;
}
.nav a{
    color: #fff;
    list-style: none;
    text-decoration: none;
    margin-left: 20px;
}
.nav .c{
    background:white ;
    color: black;
    padding: 15px;
    border-radius: 50px;
    transition: 1s;
}
.nav .c:hover{
    background-color: transparent;
    border: #fff 1px solid;
}
.nav .b{
    background-color: transparent;
    border: #fff 1px solid;
    padding: 10px;
    border-radius: 50px;
}
section article img{
    margin-top: 50px;
    animation: imng 6s infinite;
    animation-timing-function: ease-in;
}
@media (max-width:800px) {
    section{
    padding:  10px 15px;
    flex-direction: column;
    }
    section article img{
        width: 100%;
        text-align: center;

    }
    header h1{
    animation: a 4s infinite;
    animation-timing-function: ease-in-out;
}}
@keyframes imng {
   0%{
        transform: translateY(20px);
    }
    50%{
        transform: translateY(-35px);
    }
    100%{
        transform: translateY(15px);

    }
}